body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}

main {
  width: 900px;
  height: auto;
}
.bar {
  background-color: lightblue;
  display: inline-block;
}
